body {
  background: #21222d;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  font-family: calibri;
  transition: .5s;
}

.widget {
  width: 49%;
  height: 474px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.widget__header {
  width: 100%;
  height: 8%;
  display: flex;
  line-height: 35px;
  text-align: center;
  background: #282a38;
}

.widget__header .num {
  color: #797979;
  padding: 0 10px;
}

.widget__header .title {
  flex: 1;
  font-weight: bold;
  text-transform: uppercase;
}

.widget__header .date {
  padding: 0 20px;
}

.widget__body {
  width: 100%;
  height: 92%;
  display: flex;
  background: #21222d;
}

.widget__body__2 {
  width: 100%;
  background: #21222d;
}

.objects__W1 {
  width: 30%;
  margin: 10px 20px;
}

.object__value {
  height: 374px;
  display: flex;
  flex-direction: row;
}

.object__name {
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #272a39;
}

.zero__line {
  position: relative;
  bottom: 222px;
  border-bottom: 3px dotted rgba(255, 255, 255, .5);
}

.total__value {
  position: absolute;
  margin: 10px 20px;
  text-align: center;
  font-size: 10px;
  font-weight: 800;
}

.first__value, .second__value {
  position: relative;
  width: 65px;
  text-align: center;
  line-height: 0px;
  left: 25%;
  font-weight: 600;
  font-size: 14px;
}

table {
  padding: 15px 95px;
  text-align: center;
}

table th {
  width: 100px;
  height: 60px;
}

table td {
  width: 100px;
  height: 100px;
  background: #272a39;
}

.row__1 {
  border-left: 4px solid #2279d8;
}

.row__2 {
  border-left: 4px solid #03a6a6;
}

.row__3 {
  border-left: 4px solid #763fc1;
}

.caption {
  width: 100%;
  height: 30px;
  margin: 10px;
  display: flex;
  background: #272a38;
}

.caption .name {
  width: 85%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
}

.caption .percent {
  width: 15%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.events {
  width: 95%;
  height: 75px;
  display: flex;
  margin: 10px 20px;
  background: #272a39;
}

.events__head {
  width: 65px;
  height: 75px;
  border-right: 5px solid #21222d;
  text-align: center;
  border-top-left-radius: 15px;
}

.fa-city {
  font-size: 18px;
}

.events__title {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.events__body {
  width: 85%;
  height: 75px;
  padding: 0 10px;
  padding-top: 15px;
}

.events__date {
  width: 15%;
  height: 75px;
  float: right;
  border-left: 5px solid #21222d;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
}

.events:hover {
  background: rgba(39, 42, 57, .6);
  color: #e8e8e8;
  transition: .5s;
  cursor: pointer;
}

.title__org {
  width: 95%;
  height: 40px;
  display: flex;
  margin: 15px 20px;
  background: #272a39;
  line-height: 40px;
  font-weight: 800;
}

.title__org .title__name__org {
  width: 80%;
  height: 40px;
  padding: 0 20px;
}

.title__org .title__percent {
  width: 20%;
  height: 40px;
  text-align: center;
}

.organizations {
  width: 95%;
  height: 40px;
  margin: 10px 20px;
  background: #272a39;
  line-height: 40px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
}

.organizations .name__org {
  width: 30%;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  font-weight: normal;
  border-right: 4px solid #21222d;
}

.organizations .percent__d {
  width: 55%;
  height: 40px;
}

.organizations .percent__n {
  width: 15%;
  height: 40px;
  border-left: 4px solid #21222d;
  text-align: center;
  color: lime;
}

.percent__d .percent {
  height: 20px;
  background: -webkit-linear-gradient(left, #9c4600, #ff9634 90%, #af560a 100%);
  margin: 10px 0;
}

.modal {
  display: none;
  background: #272a39;
  z-index: 100;
  overflow: auto;
  position: absolute;
  top: 55%;
  left: 50.2%;
  width: 46.5%;
  height: 407px;
  border-top-left-radius: 16px;
  transition: .5s;
}

.modal__title {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 800;
}

.long__value {
  margin: 15px 20px;
}

.close {
  position: absolute;
  left: 93%;
  font-size: 25px;
  font-weight: bold;
  z-index: 101;
  padding: 0 8px;
  margin: 15px;
  cursor: pointer;
}
